@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #202124;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 830px;
  min-height: auto;
  background-color: #fff;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(
    to top,
    #505285 0%,
    #585e92 12%,
    #65689f 25%,
    #7474b0 37%,
    #7e7ebb 50%,
    #8389c7 62%,
    #9795d4 75%,
    #a2a1dc 87%,
    #b5aee4 100%
  );
  background-size: 100% 150px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0.1px;
}

.card__person {
  background-image: url("assets/img/profileimg.jpg");
  background-size: cover;
  background-position: center;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  margin-top: 105px;
  border-radius: 50%;
  border: 7px solid #fff;
}

.card__name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 3px;
}

.card__position {
  font-size: 0.98rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.card__media {
  width: 100%;
  height: 90px;
  border-top: 1px solid #b3a2a2;
  display: flex;
  justify-content: center;
}

.card__icon {
  width: 10%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

.card__icon--github {
  background-image: url("assets/svg/github.svg");
}

.card__icon--twitter {
  background-image: url("assets/svg/twitter.svg");
}

.card__icon--linkedin {
  background-image: url("assets/svg/linkedin.svg");
}

.card__icon--html {
  background-image: url("assets/svg/html-5.svg");
}

.card__icon--css {
  background-image: url("assets/svg/css-3.svg");
}

.card__icon--bootstrap {
  background-image: url("assets/svg/bootstrap.svg");
}

.card__icon--js {
  background-image: url("assets/svg/javascript.svg");
}

.card__icon--react {
  background-image: url("assets/svg/react.svg");
}

.card__icon--typescript {
  background-image: url("assets/svg/typescript.svg");
}

.card__icon--mongodb {
  background-image: url("assets/svg/mongodb.svg");
}

.card__icon--express {
  background-image: url("assets/svg/express.svg");
}

.card__icon--node {
  background-image: url("assets/svg/node.svg");
}

.card__icon--git {
  background-image: url("assets/svg/git.svg");
}

.card__tecnologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__tecnologies__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 700px;
}


/* Mobiles */
@media (max-width: 768px) {
  span {
    display: none;
  }
  .card {
    width: 400px;
    margin-top: 0;
  }
  .card__person {
    width: 80px;
    height: 80px;
    margin: 10px auto;
  }
  .card__name {
    font-size: 1.2rem;
    margin-top: 1px;
    margin-bottom: 2px;
  }
  .card__position {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 3px;
  }
  .card__media {
    height: 100px;
  }
  .card__icon {
    width: 20%;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
  }
  .card__tecnologies {
    width: 400px;
    height: 300px;
  }
  .card__tecnologies__list {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
  }
}
